# 1. IMPORTS

In [3]:
import pandas        as pd
import numpy         as np
import pandas.io.sql as psql
import sqlalchemy    as db

## 1.1. Loading Data

In [11]:
# Crendentials
host = 'comunidade-ds-postgres.c50pcakiuwi3.us-east-1.rds.amazonaws.com'
port = 5432
database = 'comunidadedsdb'
username='member'
pwd = 'cdspa'

# Connection using read_sql
string_connect = 'postgresql://' + username + ':' + pwd + '@' + host + ':' + str(port) + '/' + database

engine = db.create_engine(string_connect)

conn1 = engine.connect()

query_tables_users = """
    SELECT * 
    FROM pa004.users u LEFT JOIN pa004.vehicle v ON ( u.id=v.id )
                       LEFT JOIN pa004.insurance i ON ( u.id=i.id )
    WHERE u.age > 44
    LIMIT 10
"""

df_raw = pd.read_sql(query_tables_users, conn1)
df_id=df_raw.iloc[:,0]
df_raw = df_raw.drop( df_raw.columns[[5,9]], axis=1 )
df_raw['id']=df_id
conn1.close()

# 2. DATA DESCRIPTION

## 2.1. Data Preview

In [16]:
df_raw

,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,previously_insured,annual_premium,vintage,response,id
0,Female,51,28.0,124.0,1,1-2 Year,Yes,0,38341.0,49,1,27
1,Male,50,28.0,26.0,1,1-2 Year,Yes,0,40913.0,223,1,21499
2,Female,50,26.0,22.0,1,1-2 Year,No,1,36480.0,93,0,21527
3,Female,52,28.0,1.0,1,< 1 Year,No,0,2630.0,263,0,21535
4,Female,77,28.0,26.0,1,1-2 Year,No,0,45773.0,176,0,21544
5,Male,59,28.0,55.0,1,1-2 Year,No,1,2630.0,207,0,21545
6,Male,63,28.0,26.0,1,1-2 Year,Yes,0,47660.0,46,0,21584
7,Female,53,8.0,26.0,1,1-2 Year,No,1,43915.0,91,0,21596
8,Male,64,36.0,124.0,1,1-2 Year,No,1,35786.0,157,0,21610
9,Male,48,16.0,26.0,1,1-2 Year,Yes,0,28274.0,115,0,21623

## 2.2. Data Format, Types and Relevante Information

In [14]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   gender                10 non-null     object
 1   age                   10 non-null     int64
 2   region_code           10 non-null     float64
 3   policy_sales_channel  10 non-null     float64
 4   driving_license       10 non-null     int64
 5   vehicle_age           10 non-null     object
 6   vehicle_damage        10 non-null     object
 7   previously_insured    10 non-null     int64
 8   annual_premium        10 non-null     float64
 9   vintage               10 non-null     int64
 10  response              10 non-null     int64
 11  id                    10 non-null     int64
dtypes: float64(3), int64(6), object(3)
memory usage: 1.1+ KB

In [17]:
np.round(df_raw.describe().T, 2)

,count,mean,std,min,25%,50%,75%,max
age,10.0,56.7,9.09,48.0,50.25,52.5,62.00,77.0
region_code,10.0,25.4,7.78,8.0,26.50,28.0,28.00,36.0
policy_sales_channel,10.0,45.6,43.27,1.0,26.00,26.0,47.75,124.0
driving_license,10.0,1.0,0.00,1.0,1.00,1.0,1.00,1.0
previously_insured,10.0,0.4,0.52,0.0,0.00,0.0,1.00,1.0
annual_premium,10.0,32240.2,16564.53,2630.0,30152.00,37410.5,43164.50,47660.0
vintage,10.0,142.0,74.84,46.0,91.50,136.0,199.25,263.0
response,10.0,0.2,0.42,0.0,0.00,0.0,0.00,1.0
id,10.0,19409.0,6810.26,27.0,21529.00,21544.5,21593.00,21623.0